{% load staticfiles %}
<! DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="icon" href="{% static 'home/images/bus_logo.png' %}">

    </head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
    <link rel="stylesheet" href="{% static 'home/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/booking.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/toastr.css' %}">


    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Griffy" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'home/js/home.js' %}" > </script>
     <script type="text/javascript" src="{% static 'home/js/toastr.js' %}" > </script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <script type="text/javascript" src="{% static 'home/js/about.js' %}" > </script>
    <script type="text/javascript" src="{% static 'home/js/maps.js' %}" > </script>

    <body>
        <div id="header">
            <a href={% block headinglink %} {% endblock %}>
        <div id="heading">
            <h1>BON VOYAGE</h1>
            <h5>Best buses for every trip!</h5>
            </div>            </a>

        <div class="strip" >

            {% if request.user.is_authenticated %}
            {% endif %}
             &nbsp
            &nbsp
        	<a id="links" href={% block homelink %} {% endblock %} {% block homeactive %} {% endblock %}>Home</a>
        	 &nbsp
            &nbsp
            <a  href={% block bookinglink %} {% endblock %} {% block bookingactive %} {% endblock %}>Booking</a>
            &nbsp
            &nbsp

            <a  href={% block aboutlink %} {% endblock %} {% block aboutactive %} {% endblock %}>About Us</a>
             &nbsp
            &nbsp

            {% if request.user.is_authenticated %}
               <a id="logoutbutton" href={% block logoutlink %} {% endblock %}>Logout</a>
            {% endif %}


        </div>
            <br />
         <br />
        <br />
            <div id="bus">
                <img id="logo" src="{% static 'home/images/bus_logo.png' %}" alt="My image" />
        </div>
        <br />
        <br />
         <br />
        <br />
            <br /></div>
            <div id="content">

                {% block content %}


        {% endblock %}
                </div>


        <div id="footer">
            <br />
            <br />
            <center>
            <p>Created with <span id="unicode">&#9829;</span> by Mohamed Siddique and Chandramowli. <br><br> Write to us for any queries : <a link href=" http:\\mail.google.com">chamow97@hotmail.com</a></p>

                </center>
        </div>
    </body>
</html>