{% extends 'home/base.html' %}
{% block bookingactive %}
class="activePage"
{% endblock %}
{% block title %}
Booking
{% endblock %}

{% block headinglink %}../../home {% endblock %}
{% block homelink %}'../../home' {% endblock %}
{% block aboutlink %}'../about' {% endblock %}
{% block bookinglink %}'../login_user' {% endblock %}
{% block logoutlink %}'../logout_user' {% endblock %}
{% block content %}
   <br />
        <br /> <br />
        <br /> <br />
        <br /><br />
        <br /> <br />
 <br /> <br />
        <br />
         <br>
                        <br>
                        <br>
<center>
<div class="block form-group">
  <label for="select">Select</label>
  <select id="select">
    <option selected>Chennai</option>
    <option>Bangalore</option>
    <option>Pune</option>
    <option>Mumbai</option>
  </select>
</div>
<br>
<br>
<div class="block form-group">
  <label for="select">Select</label>
  <select id="select">
    <option selected>Chennai</option>
    <option>Bangalore</option>
    <option>Pune</option>
   <option>Mumbai</option>
  </select>
</div>
     <br>
<br>
     <form>
  Journey Date:
  <input type="date" name="bday">
</form>
    <button id="submit">


    </button>
</center>
{% endblock %}