{% extends 'home/base.html' %}
{% block bookingactive %}
class="activePage"
{% endblock %}
{% block title %}
Booking
{% endblock %}

{% block headinglink %}../../home {% endblock %}
{% block homelink %}'../../home' {% endblock %}
{% block aboutlink %}'../about' {% endblock %}
{% block bookinglink %}'../login_user' {% endblock %}
{% block logoutlink %}'../logout_user' {% endblock %}
{% block content %}
   <br />
        <br /> <br />
        <br /> <br />
        <br /><br />
        <br /> <br />
 <br /> <br />
        <br />
         <br>
                        <br>
                        <br>
{% if request.user.is_authenticated %}

            <script id="toast">
            $(document).ready(function() {
             toastr.info('Welcome {{ user.username }} !!');
         });

            </script>
                {% endif %}
{% block bus_info %}

<div id="bookingInfo">
<center>
    <div id="bookingtext">Plan the best trip of your life!!</div>
    <br>
    <br>
    <br>
    <br>

<div style="display: inline;"; class="bookingstyles" class="block form-group">
  <label class="bookingstyles" style="display:inline;"; for="selectfrom">From: </label>
  <select style="display:inline;"; id="selectfrom">
    <option selected id="none">--</option>
      <option id="chennaifrom">Chennai</option>
    <option id="bangalorefrom">Bangalore</option>
    <option id="punefrom">Pune</option>
    <option id="mumbaifrom">Mumbai</option>
  </select>
</div>
<script>
$(document).ready(function(){

    $("#selectfrom").change(function(){
    $("#bangalore").show();
$("#chennai").show();
$("#pune").show();
$("#mumbai").show();
    var ans = document.getElementById("selectfrom").value;

switch(ans){
    case "Bangalore":

        $("#bangalore").hide();
        break;
        case "Chennai":

        $("#chennai").hide();
        break;
        case "Pune":

        $("#pune").hide();
        break;
        case "Mumbai":

        $("#mumbai").hide();
        break;
}
    });
    });
$(document).ready(function(){

    $("#selectto").change(function(){
    $("#bangalorefrom").show();
$("#chennaifrom").show();
$("#punefrom").show();
$("#mumbaifrom").show();
    var ans = document.getElementById("selectto").value;

switch(ans){
    case "Bangalore":

        $("#bangalorefrom").hide();
        break;
        case "Chennai":

        $("#chennaifrom").hide();
        break;
        case "Pune":

        $("#punefrom").hide();
        break;
        case "Mumbai":

        $("#mumbaifrom").hide();
        break;
}
    });
    });

</script>
<div style="display: inline;"; class="bookingstyles" class="block form-group">
  <label for="selectto">&nbsp; &nbsp; &nbsp; &nbsp;To: &nbsp;&nbsp;&nbsp;</label>
  <select id="selectto">
        <option selected id="none">--</option>
     <option id="chennai" >Chennai</option>
    <option id="bangalore">Bangalore</option>
    <option id="pune">Pune</option>
   <option id="mumbai">Mumbai</option>
  </select>
</div>

     <form style="display: inline;"; class="bookingstyles">
  &nbsp; &nbsp; &nbsp; &nbsp;Journey Date:
         <div style="display: inline;"; id="dates">
  <input type="text" id="datepicker" value="--" > <script>
       $(document).ready(function(){ $("#datepicker").datepicker({ defaultDate : new Date() }); });
    </script>
             </div>
</form>

    <script>
        $(document).ready(function(){

    $('#datepicker').change(function() {
  var selectedDate = $('#datepicker').datepicker('getDate');
  var today = new Date();
  var newtoday = new Date();
  today.setHours(0);
  today.setMinutes(0);
  today.setSeconds(0);
  if (Date.parse(today) >= Date.parse(selectedDate)) {
    toastr.info('No Buses on the selected day!');
    document.getElementById("datepicker").value = "--";
  }
});
});

    </script>
    <br>
    <br><br><br><br><br>




    <button onclick = "checkFunction()" id="submit">Search Buses</button>
    <script>
        function checkFunction(){
        var from = document.getElementById("selectfrom").value;

        var to = document.getElementById("selectto").value;
        var current_date = document.getElementById("datepicker").value;
        if(from == "--" || current_date == "--" || to == "--"){
        toastr.info('Fill in all the fields');
        }
        else {
        var queryString = "?para1=" + from + "&para1=" + to;

            window.location.href = '../bus_info/' + queryString;

        }
        }
    </script>
</center>
    </div>


    {% endblock %}
<br> <br>
<br> <br>
<br> <br>

<br> <br>
<br> <br>
<br> <br>
<br> <br>
<br> <br>
<br> <br>
{% endblock %}