#maptext, #ourwork, #whyarewebest {
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #0cff00;
    font-weight: bolder;
    text-shadow: 2px 2px #000000;
}
.description {
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}
#chart {
    border: 3px solid #000000;
    background-color: #ffffff;
}