.loginorsignup {
    background-color: #20e82e;
    height: 100px;
    width: 200px;    
}
.credentialFont {
    color: #ffffff;
}
#bookingtext {
    font-family: 'Pacifico', cursive;
    color: #090a3d;
    font-size: 25px;
}
.bookingstyles {
   font-family: "Spinnaker", sans-serif;
   font-size: 18px;
}